<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>购物车</title>
    
    {% include 'include/css.html' %}

  </head>
  <body>
      {% include 'include/header.html' %}

      {% include 'include/menu.html' %}
 
 <!-- Cart view section -->
 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="cart-view-area">
           <div class="cart-view-table">
             {% if cartitems %}
             <form action="">
               <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>名称</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>总价</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for cartitem in cartitems %}
                      <tr>
                          <td><a class="remove cart-del" href="" data-id="{{ cartitem.id }}"><fa class="fa fa-close"></fa></a></td>
                        <td><a href="{% url 'shop.item' cartitem.item.id %}"><img src="{{ cartitem.item.thumb.url }}" alt="img"></a></td>
                        <td><a class="aa-cart-title" href="{% url 'shop.item' cartitem.item.id %}">{{ cartitem.item.name }}</a></td>
                        <td>￥{{ cartitem.item.price }}</td>
                        <td><input class="aa-cart-quantity cart-item" data-id="{{ cartitem.id }}" type="number" value="{{ cartitem.num }}"></td>
                        <td>${{ cartitem.total }}</td>
                      </tr>
                        {% endfor %}
                      <tr>
                        <td colspan="6" class="aa-cart-view-bottom">
                          <input class="aa-cart-view-btn cart-update" type="button" value="更新购物车">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
             </form>
             {% endif %}
             <!-- Cart Total view -->
             <div class="cart-view-total">
               {% if cartitems %}
               <table class="aa-totals-table">
                 <tbody>
                   <tr>
                     <th>合计</th>
                     <td>${{ total }}</td>
                   </tr>
                 </tbody>
               </table>
               <a href="" class="aa-cart-view-btn cart-order">下单</a>
               {% else %}
               <h1 class="text-center">购物车为空</h1>
               {% endif %}
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->

  {% include 'include/footer.html' %}

  {% include 'include/js.html' %}

  </body>
</html>
