<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Daily Shop | Product Detail</title>

        {% include 'include/css.html' %}

    </head>
    <body>  
        {% include 'include/header.html' %}

        {% include 'include/menu.html' %}

        <!-- product category -->
        <section id="aa-product-details">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-product-details-area">
                            <div class="aa-product-details-content">
                                <div class="row">
                                    <!-- Modal view slider -->
                                    <div class="col-md-5 col-sm-5 col-xs-12">                              
                                        <div class="aa-product-view-slider">                                
                                            <div id="demo-1" class="simpleLens-gallery-container">
                                                <div class="simpleLens-container">
                                                    <div class="simpleLens-big-image-container">
                                                        <a data-lens-image="{{ item.thumb.url }}" class="simpleLens-lens-image">
                                                            <img src="{{ item.thumb.url }}" class="simpleLens-big-image" width="250px" height="300px">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="simpleLens-thumbnails-container">
                                                    <a data-big-image="{{ item.thumb.url }}" data-lens-image="{{ item.thumb.url }}" class="simpleLens-thumbnail-wrapper" href="#">
                                                        <img src="{{ item.thumb.url }}" width="45px" height="55px">
                                                    </a>                                    
                                                    {% for image in images %}
                                                    <a data-big-image="{{ image.img.url }}" data-lens-image="{{ image.img.url }}" class="simpleLens-thumbnail-wrapper" href="#">
                                                        <img src="{{ image.img.url }}" width="45px" height="55px">
                                                    </a>                                    
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal view content -->
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="aa-product-view-content">
                                            <h3>{{ item.name }}</h3>
                                                <p>价格：￥{{ item.price }}</p>
                                                <p>品牌：{{ item.brand.name }}</p>
                                                <p class="aa-prod-category">
                                                分类：<a href="#">{{ item.category.name }}</a>
                                                </p>
                                            <div class="aa-prod-quantity">
                                                <form action="">
                                                    购买数量：<input type="number" value=1 min=1 max=99>
                                                </form>
                                            </div>
                                            <div class="aa-prod-view-bottom">
                                                <a class="aa-add-to-cart-btn" href="#">立即购买</a>
                                                <a class="aa-add-to-cart-btn" href="#">添加到购物车</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="aa-product-details-bottom">
                                <ul class="nav-tabs" id="myTab2">
                                    <h3>商品详情</h3>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="description">
                                        {{ item.desc }}
                                    </div>
                                </div>
                            </div>

                            <!-- Related product -->
                            <div class="aa-product-related-item">
                                <h3>Related Products</h3>
                                <ul class="aa-product-catg aa-related-item-slider">
                                    <!-- start single product item -->
                                    <li>
                                    <figure>
                                        <a class="aa-product-img" href="#"><img src="/static/img/man/polo-shirt-2.png" alt="polo shirt img"></a>
                                        <figcaption>
                                        <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                                        <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                        </figcaption>
                                    </figure>                     
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sale" href="#">SALE!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                    <figure>
                                        <a class="aa-product-img" href="#"><img src="/static/img/women/girl-2.png" alt="polo shirt img"></a>
                                        <figcaption>
                                        <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                        <span class="aa-product-price">$45.50</span>
                                        </figcaption>
                                    </figure>                      
                                    <!-- product badge -->
                                    <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                    <figure>
                                        <a class="aa-product-img" href="#"><img src="/static/img/man/t-shirt-1.png" alt="polo shirt img"></a>
                                    </figure>
                                    <figcaption>
                                    <h4 class="aa-product-title"><a href="#">T-Shirt</a></h4>
                                    <span class="aa-product-price">$45.50</span>
                                    </figcaption>
                                    <!-- product badge -->
                                    <span class="aa-badge aa-hot" href="#">HOT!</span>
                                    </li>
                                </ul>
                            </div>  

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / product category -->

        {% include 'include/footer.html' %}

        {% include 'include/js.html' %}

    </body>
</html>
