<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>枫香阁进口食品店</title>
    
    {% include 'include/css.html' %}

  </head>
  <!-- !Important notice -->
  <!-- Only for product page body tag have to added .productPage class -->
  <body class="productPage">  
      {% include 'include/header.html' %}

      {% include 'include/menu.html' %}
 
  <!-- product category -->
  <section id="aa-product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
          <div class="aa-product-catg-content">
            <div class="aa-product-catg-head">
              <div class="aa-product-catg-head-left">
                <div class="aa-sort-form">
                  <label for="">分类</label>
                  <select id="sel-category" class="param-change">
                    <option value="">全部</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == selected_category %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="aa-sort-form">
                  <label for="">品牌</label>
                  <select id="sel-brand" class="param-change">
                    <option value="">全部</option>
                    {% for brand in brands %}
                    <option value="{{ brand.id }}" {% if brand.id == selected_brand %}selected{% endif %}>{{ brand.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="aa-sort-form">
                  <label for="">排序方式</label>
                  <select id="sel-orderby" class="param-change">
                      <option value="" {% if orderby == "id" %}selected{% endif %}>默认</option>
                      <option value="price" {% if orderby == "price" %}selected{% endif %}>价格从低到高</option>
                      <option value="-price" {% if orderby == "-price" %}selected{% endif %}>价格从高到低</option>
                  </select>
                </div>
              </div>
              <div class="aa-product-catg-head-right">
                <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
              </div>
            </div>
            <div class="aa-product-catg-body">
              <ul class="aa-product-catg">
                <!-- start single product item -->
                {% for item in items %}
                <li>
                  <figure>
                      <a class="aa-product-img" href="{% url 'shop.item' item.id %}"><img src="{{ item.thumb.url }}" alt="{{ item.name }}" width="250px" height="300px"></a>
                    <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>添加到购物车</a>
                    <figcaption>
                    <h4 class="aa-product-title"><a href="{% url 'shop.item' item.id %}">{{ item.name }}</a></h4>
                    <span class="aa-product-price">￥{{ item.price }}</span><span class="aa-product-price"><del>$65.50</del></span>
                    <p class="aa-product-descrip">{{ item.desc }}</p>
                    </figcaption>
                  </figure>                         
                  <!-- product badge -->
                  {% if item.status != 'NORMAL' %}
                  <span class="aa-badge aa-{{ item.status }}" href="#">{{ item.get_status_display }}<span>
                    {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="aa-product-catg-pagination">
              <nav>
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% for i in left %}
                  <li><a href={{ page_url }}{{ i }}>{{ i }}</a></li>
                  {% endfor %}
                  <li class="active"><a>{{ mid }}</a></li>
                  {% for i in right %}
                  <li><a href={{ page_url }}{{ i }}>{{ i }}</a></li>
                  {% endfor %}
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
          <aside class="aa-sidebar">
            <!-- single sidebar -->
            <!--<div class="aa-sidebar-widget">
              <h3>分类</h3>
              <ul class="aa-catg-nav">
                  {% for category in categories %}
                  <li><a href="#">{{ category.name }}</a></li>
                  {% endfor %}
              </ul>
            </div>-->
            <!-- single sidebar -->
            <!--<div class="aa-sidebar-widget">
              <h3>Tags</h3>
              <div class="tag-cloud">
                <a href="#">Fashion</a>
                <a href="#">Ecommerce</a>
                <a href="#">Shop</a>
                <a href="#">Hand Bag</a>
                <a href="#">Laptop</a>
                <a href="#">Head Phone</a>
                <a href="#">Pen Drive</a>
              </div>
            </div>-->
            <!-- single sidebar -->
            <!--<div class="aa-sidebar-widget">
              <h3>Shop By Price</h3>              
              <div class="aa-sidebar-price-range">
               <form action="">
                  <div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>
                  <span id="skip-value-lower" class="example-val">30.00</span>
                 <span id="skip-value-upper" class="example-val">100.00</span>
                 <button class="aa-filter-btn" type="submit">Filter</button>
               </form>
              </div>              

            </div>-->
            <!-- single sidebar -->
            <!--<div class="aa-sidebar-widget">
              <h3>Shop By Color</h3>
              <div class="aa-color-tag">
                <a class="aa-color-green" href="#"></a>
                <a class="aa-color-yellow" href="#"></a>
                <a class="aa-color-pink" href="#"></a>
                <a class="aa-color-purple" href="#"></a>
                <a class="aa-color-blue" href="#"></a>
                <a class="aa-color-orange" href="#"></a>
                <a class="aa-color-gray" href="#"></a>
                <a class="aa-color-black" href="#"></a>
                <a class="aa-color-white" href="#"></a>
                <a class="aa-color-cyan" href="#"></a>
                <a class="aa-color-olive" href="#"></a>
                <a class="aa-color-orchid" href="#"></a>
              </div>                            
            </div>-->
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Recently Views</h3>
              <div class="aa-recently-views">
                <ul>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-1.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>
                   <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>                                      
                </ul>
              </div>                            
            </div>
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Top Rated Products</h3>
              <div class="aa-recently-views">
                <ul>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-1.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>
                   <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>                                      
                </ul>
              </div>                            
            </div>
          </aside>
        </div>
       
      </div>
    </div>
  </section>
  <!-- / product category -->

  {% include 'include/footer.html' %}

  {% include 'include/js.html' %}

  </body>
</html>
