<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>登录</title>

        {% include 'include/css.html' %}

    </head>
    <body>

        {% include 'include/header.html' %}

        {% include 'include/menu.html' %}

    <!-- Cart view section -->
    <section id="aa-myaccount">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div class="aa-myaccount-area">         
                        <div class="aa-myaccount-login">
                            <h4>登录</h4>
                            <form action="signin" method="POST" class="aa-login-form">
                                {% csrf_token %}
                                {% for field in form.visible_fields %}
                                <div class="fieldWrapper">
                                    {{ field.label_tag  }}
                                    {{ field }}
                                    {% for error in field.errors %}
                                    <label style="color:red">{{error}}</label>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                                {% for field in form.hidden_fields %}
                                {{ field }}
                                {% endfor %}
                                <div style="color:red">{{ form.non_field_errors }}</div>
                                <button type="submit" class="aa-browse-btn">登录</button>
                                <button onclick="location.href='{% url "account.signup" %}'" type="button" class="aa-browse-btn">注册</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>

            </div>
        </div>
    </section>
    <!-- / Cart view section -->

    {% include 'include/footer.html' %}

    {% include 'include/js.html' %}

</body>
</html>
